dps:
    {{ switch_name }}:
        dp_id: 0x1
        timeout: 7201
        arp_neighbor_timeout: 3600
        stack:
            priority: 1
        interfaces:
{% for host in stack_inventory %}
            {{ loop.index }}:
                name: "port-{{ loop.index }}"
                native_vlan: {{ port_vlan_mapping.native_vlan }}
                tagged_vlans: {{ port_vlan_mapping.tagged_vlans | to_yaml }}
{% endfor %}

{{ faucet | to_nice_yaml( line_break=1, indent=4) }}